{
	"extends": ["react-app", "airbnb", "plugin:jsx-a11y/recommended", "prettier", "prettier/react", "plugin:cypress/recommended",
		"plugin:chai-friendly/recommended"],
	
	"rules": {
		"prefer-promise-reject-errors": "off",
		"max-len": [
			"error",
			{
				"code": 160,
				"ignoreComments": true,
				"ignoreUrls": true
			}
		],
		"react/jsx-filename-extension": [
			1,
			{
				"extensions": [".js", ".jsx"]
			}
		],
		"react/jsx-one-expression-per-line": [0]
	},
	"plugins": ["jsx-a11y"],
	"env": {
		"es6": true,
		"jest": true,
		"browser": true
	},
	"parser": "@typescript-eslint/parser"
}
