@font-face {
	font-family: 'DIN';
	src: local('DINCondensed-Bold'), url(./fonts/DINCondensed-Bold.ttf) format('truetype');
}

@font-face {
	font-family: 'Roboto';
	src: local('Roboto-Regular'), url(./fonts/Roboto-Regular.ttf) format('truetype');
}
